<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN UP - TASK MANAGER</title>
    <link rel="stylesheet" href="../static/css/style.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="bg">
        <h1>Task Manager</h1>

        <div class="content">
            <h2>Sign Up</h2>
            <div class="form">
                <form>
                    <div class="formname">
                        <input type="text" name ="email" required>
                        <label for="email" class="label-name">
                            <span class="content-name">Email</span>
                        </label>
                    </div>
                    <div class="formname">
                        <input type="password" name ="password" required>
                        <label for="password" class="label-name">
                            <span class="content-name">Password</span>
                        </label>
                    </div>
                    <div class="formname">
                        <input type="password" name ="cpassword" required>
                        <label for="cpassword" class="label-name">
                            <span class="content-name"> Confirm Password</span>
                        </label>
                    </div>
                    <button class=" btn btn1" formaction="/signup" formmethod="POST" value="SIGN UP">SIGN UP</button>
                
                </form>
                <button class=" btn btn1" value="SIGN UP"><a href="/login" style="text-decoration: none; color: black;">LOGIN</a></button>
            </div>
        </div>
        <p><br></p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class = "flashes" style="color: whitesmoke; text-align:center;">
            <h4>{{ messages[messages|length - 1] }}</h4>
        </div>
        {% endif %}
        {% endwith %}
    </div>
    
</body>
</html>